body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media only screen and (max-device-width: 920px) {
  .parallax-section img  {
    backdrop-filter: blur(10px);
  }

  .parallax-section .media-title {
    display: block !important;
  }
} */

@media only screen and (max-width: 920px) {
  .parallax-section img  {
    backdrop-filter: blur(10px);
  }

  .parallax-section .media-title {
    display: block !important;
  }
}